@charset "utf-8";
@import url(./fonts.css);

*{
    box-sizing: border-box;
}
html {
    background-color: #E0F2FE;
    height: 100%;
    width: 100%;
}
img {
    width: 300px;
}
body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Unbounded';
}
.section_navigation {
    padding: 0;
    font-size: 1em;
    background-color: #747474;
    padding: 10px 0;
    color: white;
}
.navigation {
    display: block;
    width: fit-content;
    margin: 0 auto;
}
.navigation a {
    color: white;
    margin-right: 5px;
    text-decoration: none;
    font-weight: 300;
    padding: 5px;
    border-radius: 10px;
    transition: .4s;
}
.navigation a:hover {
    background-color: #FCFCFC;
    color: black;
}
.center_content_in_block {
    display: grid;
    grid-template-columns: 450px 450px;
    justify-content: center;
}
.center_content_in_block img {
    margin:  auto 0 auto auto;

    /* margin: 0 auto; */
}
.center_content_in_block p {
    margin: 0;
}
.center_content_in_block ul {
    display: inline;
}
@media screen and (width < 900px) {
    .center_content_in_block {
        grid-template-columns: 450px;
        grid-template-rows: 40% 40%;
    }
    .center_content_in_block img {
        margin: 0 auto;
    
        /* margin: 0 auto; */
    }
    main section div img{
        margin:  0 auto !important;
    }
    header h1 {
        text-align: center;
    }
}
main {
    height: 100%;
    display: grid;
    grid-template-rows: 40px 1fr 1fr 1fr 1fr ;
}
main section div img:nth-child(2n+1){
    margin:  auto 0;
    display: block;
    position: relative;
    right: 0;
}
main section div img:nth-child(2n){
    margin: auto 0 auto auto;
    display: block;
    position: relative;
    right: 0;
}
header {
    background-color: black;
    padding: 100px 0;
    color: white;
}

header h1 {
    font-size: 40px;
    height: fit-content;
    margin: auto 0;
}
header img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
}
.sections_on_main_page {
    padding: 0 0 100px 0;
    font-size: 1.3em;
}
.sections_on_main_page h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 500;
    margin: 50px 0;
}

footer {
    background-color: black;
    padding: 100px;
    color: white;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}
footer p {
    margin: 0;
    height: fit-content;
    margin: auto 0;
}
footer section:nth-child(n) {
    display: flex;
    justify-content: center;
}
.socials {
    width: 40px;
    height: 40px;
}
footer .socials:not(:last-child) {
    text-decoration: none;
    margin-right: 10px;
    
    display: inline-block;
}
footer .socials img{
    display: inline-block;
    width: 40px;
}
